{% comment %}
   Page Liquid for Easy GDPR Shopify app: https://apps.shopify.com/easy-gdpr
   The 3 GDPR pages (Request Personal Data, My Personal Data, Edit Personal Data) should use this liquid.
   PLEASE DON'T MODIFY
{% endcomment %}
<link rel="stylesheet" href="https://gdpr-app.firebaseapp.com/style.css" type="text/css"/>
<div class="EG-container">
<div class="page-width">
  <h1 class="small--text-center">{{ page.title }}</h1>
  <div class="content-block">
    <div class="rte rte--indented-images">
      {{ page.content }}
    </div>
  </div>

  {% section 'featured-products-subsection' %}
</div>

</div>

<div>
{% if customer %}
  {% assign hash_id = customer.id | append: '-' | append: shop.permanent_domain %}
{% else %}
  {% assign hash_id = '0-' | append: shop.permanent_domain %}
{% endif %}
  <input type="hidden" value="{{ hash_id | hmac_sha256: "-+%=:W8`f~5C:Kv4" }}" id="eg_hmac" />
  <input type="hidden" id="accounts_enabled" value="{{ shop.customer_accounts_enabled }}" />
</div>
